html,
body {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  height: 100vh;
  min-height: 100%;
}

body {
  background-color: black;
  min-height: 500px;
  overflow-x: hidden;
  position: relative;
  isolation: isolate;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  background: url(assets/track.jpg) no-repeat center bottom;
  background-size: cover;
  z-index: -1;
  transform: translateZ(0);
}
